/* this is some magical font-importing.
you'll learn about it later. */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;0,900;1,100&display=swap');

.header{
  background-color: #1F2937;
  display: flex;
  justify-content: space-between;
  padding: 16px;
}

.header-left,
.header-right {
  display: flex;
  align-items: center;
  gap: 16px;
  padding-right: 200px;
}

.header-logo {
  font-family: 'Roboto', sans-serif;
  color: #F9FAF9;
  font-size: 24px;
  font-weight: 700;
  padding-left: 200px;
}

.header-links {
  list-style-type: none;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 300;
  margin: 0;
  padding: 0;
  gap: 28px;
  display: flex;
}

a {
  text-decoration: none;  /* this removes the line under our links */
  color: #E5E7EB;
}

.hero {
  background-color: #1F2937;
  align-items: center;
  justify-content: center;
  display: flex;
  padding: 100px 200px;
}

.hero-left {
  flex: 1;
}

.hero-main-text {
  font-family: 'Roboto', sans-serif;
  color: #F9FAF9;
  font-size: 48px;
  font-weight: 700;
}

.hero-sub-text {
  font-family: 'Roboto', sans-serif;
  color: #F9FAF9;
  font-size: 18px;
  font-weight: 300;
  font-style: Thin;
  padding-bottom: 8px;
  width: 450px;
}

button.hero-signup {
  margin-top: 8px;
  padding: 8px 32px;
  border-radius: 8px;
  background: #3882F6;
  font-family: 'Roboto', sans-serif;
  color: #F9FAF9;
  font-size: 18px;
  font-weight: 400;
  outline: none;
  border: none;
}

.hero-img {
  flex: 1;
  width: 500px;
}

.information-title {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: #1F2937;
  font-size: 36px;
  font-weight: 700;
  padding: 50px;
}

.information-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 50px;
  margin-bottom: 100px;
}

.info-item {
 max-width: 165px;
}

.info-img {
  border-radius: 12px;
  border: 4px solid #3882F6;
  width: 150px;
  height: 150px;
}

.info-text {
  font-family: 'Roboto', sans-serif;
  color: #1F2937;
  font-size: 18px;

}

.quote {
  display: flex;
  background-color: #E5E7EB;
  align-items: center;
  justify-content: center;
}

.quote-container{
  margin: 75px 200px 75px 200px;
  width: 58%;
}
.quote-text {
  font-family: 'Roboto', sans-serif;
  color: #1F2937;
  font-size: 36px;
  font-weight: 100;
  font-style: italic;
}

.quote-author {
  font-family: 'Roboto', sans-serif;
  color: #1F2937;
  font-size: 24px;
  text-align: right;
}

.cta {
  align-items: center;
  justify-content: center;
  padding: 100px 200px;
}

.cta-container {
  display: flex;
  border-radius: 12px;
  background-color: #3882F6;
  align-items: center;
  justify-content: center;
  padding: 50px 100px 50px 100px;
}

.cta-left {
  flex: 2 1;
  align-items: center;
  justify-content: center;
}

.cta-right {
  flex: 1
  align-items: center;
  justify-content: center;
}

.cta-main-text {
  font-family: 'Roboto', sans-serif;
  color: #F9FAF9;
  font-size: 24px;
  font-weight: 700;
}

.cta-sub-text {
  font-family: 'Roboto', sans-serif;
  color: #F9FAF9;
  font-size: 18px;
  font-weight: 100;
}

button.cta-signup {
  padding: 8px 32px;
  border-radius: 8px;
  border: 2px solid #F9FAF9;
  background: #3882F6;
  font-family: 'Roboto', sans-serif;
  color: #F9FAF9;
  font-size: 18px;
  font-weight: 400;
}

.footer {
  background-color: #1F2937;
}

.footer-link {
  text-align: center;
  list-style-type: none;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 300;
  padding: 30px
}